{% extends "header.html" %}
{% load static %}
{% block title %}Introduction{% endblock %}

{% block content %}
<main id="main001" role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
    <div class="container">
        <div class="row" style="margin-top:2%;">
            <div class="col-md-9">
                <!-- articles -->
                {% for item in page reversed %}
                <div class="bg_article div_article">
                    <h2 class="center_align">{{item.main_title}}</h2>
                    <h5 class="center_align">{{item.sub_title}}</h5>
                    <textarea class="ta_article" readonly>{{item.content}}</textarea>
                </div>
                {% endfor %}
                <div class="indexpart">
                    {% if page.has_previous %}
                        <a class="index_article steelblue" href="/article/{{ page.previous_page_number }}">&lt;Previous</a>
                    {% endif %}

                    {% for index in page.paginator.page_range %}
                       {% if index == page.number %}
                            <a class="index_article">{{ index }}</a>
                       {% else %}
                           <a class="index_article steelblue" href="/article/{{ index }}">{{ index }}</a>
                       {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
                       <a class="index_article steelblue" href="/article/{{ page.next_page_number }}">Next&gt;</a>
                    {% endif %}
                </div>
            </div>
            <!-- articles list -->
            <div class="col-3 d-none d-md-block" style="border-left:1px solid black">
                {% for a in all reversed %}
                    <li class="li_article steelblue"><a class="steelblue" href="/article/{{ forloop.revcounter }}">{{a.main_title}}<br>{{a.sub_title}}</a></li>
                {% endfor %}
            </div>
            <div id="footer">
                <p>Ervin Zhang |
                    <a style="color:steelblue" target="_blank" href="mailto:zhang.yizhe@husky.neu.edu?subject=Please%20type%20in%20the%20subject">
                        zhang.yizhe@husky.neu.edu
                    </a>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}