{% extends "header.html" %}
{% load static %}
{% block title %}Introduction{% endblock %}

{% block content %}
<main id="main001" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="container">
        <div class="row">
            <div class="col-9">
                {% for a in article %}
                    <p>Title:{{a.title}}</p>
                    <p>Content:{{a.content}}</p>
                {% endfor %}
            </div>
            <div class="col-3">
                {% for a in article %}
                    <li>{{a.title}}</li>
                {% endfor %}
            </div>
            <div id="footer">
                <p>Ervin Zhang |
                    <a style="color:steelblue" target="_blank" href="mailto:zhang.yizhe@husky.neu.edu?subject=Please%20type%20in%20the%20subject">
                        zhang.yizhe@husky.neu.edu
                    </a>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}