{% extends "header.html" %}
{% load static %}
{% block title %}Full Stack{% endblock %}

{% block content %}
<main id="main001" role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <br>
                <!-- top skills -->
                <h4 id="t1">Top Skills</h4>
                <hr class="bg-dark" style="border:1px solid">
                <li><strong>Python</strong></li>
                <li><strong>Sql</strong></li>
                <li><strong>JavaScript</strong></li>
                <br>
                <!-- python specialization -->
                <h4 id="t2">Python Specialization</h4>
                <hr class="bg-dark" style="border:1px solid">
                <li><strong>Python Web</strong></li>
                <p>Django, Tornado, Flask</p>
                <li><strong>Python Data</strong></li>
                <p>Numpy, Pandas, Scipy, Sklearn, matplotlib, pyecharts, etc.</p>
                <li><strong>Python Finance</strong></li>
                <p>mplfinance, investpy, trendet, pynance</p>
                <li><strong>Python GUI/Game</strong></li>
                <p>Tkinter, Pyqt, Pygame</p>
                <li><strong>Python Crawler</strong></li>
                <p>Requests+BeautifulSoup, Scrapy+Selenium</p>
                <li><strong>Python Security</strong></li>
                <li><strong>Python Automation</strong></li>
                <br>
                <!-- web developing -->
                <h4 id="t3">Web Developing</h4>
                <hr class="bg-dark" style="border:1px solid">
                <li><strong>Common:</strong></li>
                <p>HTML/HTML5, CSS/CSS3, SCSS, JavaScript, TypeScript</p>
                <li><strong>Back-End:</strong></li>
                <p>Django, Tornado, Flask, Express(Node.js)</p>
                <li><strong>Front-End:</strong></li>
                <p>Angular</p>
                <li><strong>UI/UX:</strong></li>
                <p>Bootstrap, Axure RP</p>
                <li><strong>Database:</strong></li>
                <p>Sqlite, MS SqlServer, Mysql, Oracle, PostgreSql, MongoDB</p>
                <li><strong>OS:</strong></li>
                <p>Windows, Unix(Ubuntu, CentOS)</p>
                <li><strong>Others：</strong></li>
                <p>Git, Postman</p>
                <br>
                <h4 id="t4">Data</h4>
                <hr class="bg-dark" style="border:1px solid">
                <li><strong>Python:</strong></li>
                <p>Numpy, Pandas, Scipy, Sklearn, matplotlib, pyecharts, etc.</p>
                <li><strong>BI Tools:</strong></li>
                <p>Power BI, SSIS/SSAS/SSRS, SPSS, R, Data Warehousing</p>
                <br>
                <h4 id="t5">General:</h4>
                <hr class="bg-dark" style="border:1px solid">
                <li><strong>Office:</strong></li>
                <p>Word, Excel, PPT, VISIO, etc.</p>
                <li><strong>Multimedia Tools:</strong></li>
                <p>Corel VideoStudio, PhotoShop, Adobe Flash, AdobeAudition</p>
                <li><strong>IDE</strong></li>
                <p>PyCharm, Notepad++, Sublime, VS code, ipynb</p>
                <br>
            </div>
            <div class="col-md-3 d-none d-md-block">
                <br>
                <ul class="menu_ul">
                    <li class="menu_li"><a href="#t1">Top Skills</a></li>
                    <li class="menu_li"><a href="#t2">Python Specialist</a></li>
                    <li class="menu_li"><a href="#t3">Web Developing</a></li>
                    <li class="menu_li"><a href="#t4">Data</a></li>
                    <li class="menu_li"><a href="#t5">General</a></li>
                </ul>
            </div>
            <div id="footer">
                <p>Ervin Zhang |
                    <a style="color:steelblue" target="_blank" href="mailto:zhang.yizhe@husky.neu.edu?subject=Please%20type%20in%20the%20subject">
                        zhang.yizhe@husky.neu.edu
                    </a>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}