<div class="bg_article div_article text-left">
    <div class="container">
        <center><h1>Product Manager</h1></center>
        <h2>1. Thinking</h2>
        <hr>
        <h3>1.1 Internet Era</h3>
        <h4>Internet Development</h4>
        <h5>Development</h5>
        <div class="ml-3">
            <p>Mobile Internet</p>
            <p>O2O rapid development</p>
            <p>Users actively obtain information</p>
            <p>Subversion of traditional industries</p>
            <p>Vertical, user-friendly, user-centric</p>
        </div>
        <h5>Category</h5>
        <div class="ml-3">
            <p>Tools</p>
            <p>Entertain</p>
            <p>Reading</p>
            <p>Social Contact</p>
            <p>Other</p>
        </div>
        <h4>Internet of Thinking</h4>
        <h5>Concepts</h5>
        <h6>Internet core</h6>
        <div class="ml-3">
            <p>Information electronization</p>
            <p>storage</p>
            <p>transmission</p>
        </div>
        <h6>Build system</h6>
        <div class="ml-3">
            <p>Roles
            <p>relationships</p>
            <p>locations</p>
            <p>rules</p>
        </div>
        <h5>Thinking</h5>
        <div class="ml-3">
            <p>User Thinking</p>
            <p>Simple Thinking</p>
            <p>Extreme Thinking</p>
            <p>Iterative Thinking</p>
            <p>Internet Traffic Thinking</p>
            <p>Socialization Thinking</p>
            <p>Big Data Thinking</p>
            <p>Platform Thinking</p>
            <p>Cross-border Thinking</p>
        </div>
        <h3>1.2 Business Model</h3>
        <h4>Model</h4>
        <div class="ml-3">
            <p>Advertising</p>
            <p>Search Advertising</p>
            <p>Online and Offline Commissions</p>
            <p>Virtual goods</p>
            <p>data information marketing</p>
            <p>Open API</p>
        </div>
        <h4>Canvas</h4>
        <div class="ml-3">
            <p>User segmentation</p>
            <p>value proposition</p>
            <p>channel channel</p>
            <p>user relationship</p>
            <p>revenue source</p>
            <p>core resources</p>
            <p>critical business</p>
            <p>important cooperation</p>
            <p>cost structure</p>
        </div>
        <h4>Commercialize vs UX</h4>
        <h5>Principle of product commercialization</h5>
        <div class="ml-3">
            <p>Commercialization as the fundamental goal</p>
            <p>Different commercialization means in different stages (free / advertising / cooperation / push)</p>
            <p>Commercial user experience does not conflict</p>
            <p>User experience is also a means of commercialization</p>
            <p>Conflict due to the lack of thinking about user target user scenarios</p>
        </div>
        <h5>balance</h5>
        <div class="ml-3">
            <p>Premise of commercialization (sufficient understanding of target users / clear judgment on profit model)</p>
            <p>Recommended under usage scenario usage path</p>
            <p>Accurate recommendation</p>
            <p>High quality advertising content</p>
            <p>Combination with function</p>
            <p>Can be closed or cancelled</p>
            <p>Does not affect normal function</p>
            <p>Agile small scale testing</p>
        </div>
        <br>
        <h2>2. Documents</h2>
        <hr>
        <h3>2.1 Analysis Documents</h3>
        <h4>2.1.1 Competitive Analysis</h4>
        <h5>Concepts</h5>
        <h5>BRD/MRD/PRD</h5>
        <h5>Flow Chart</h5>
        <h4>2.1.2 Data Analysis</h4>
        <h5>Concepts</h5>
        <h5>Product Index</h5>
        <h3>2.2 Requirement Mgt Documents</h3>
        <h4>Customer Requirements</h4>
        <h4>Product Requirements</h4>

        <br>
        <h2>3. Product</h2>
        <hr>
        <h3>3.1 Positioning</h3>
        <h3>3.2 Design</h3>
        <h3>3.3 Experience</h3>
        <h4>Customer Experience</h4>
        <h4>Product Experience</h4>
        <h3>3.4 Lifecycle</h3>
        <h4>Product disassembly</h4>
        <h4>Product Timing</h4>

        <br>
        <h2>4. User</h2>
        <hr>
        <h3>4.1 User</h3>
        <h4>User Consumption</h4>
        <h4>User Scenario</h4>
        <h4>User Portrait</h4>

        <br>
        <h2>5. Others</h2>
        <hr>
        <h3>5.1 Product Manager</h3>
        <h4>Skills</h4>
        <h4>Interview</h4>
        <h4>Strategies</h4>
        <h3>5.2 Product Operation</h3>
        <h4>Concepts</h4>
        <h4>Product thinking operation</h4>
        <h3>5.3 Examples</h3>
    </div>
</div>
