<div class="bg_article div_article text-left">
    <div class="container">
        <center><h1>Product Manager</h1></center>
        <!-- thinking -->
        <h2 id="thinking">1. Thinking</h2>
        <hr>
        <!-- internet era -->
        <h3 id="iera">1.1 Internet Era</h3>
        <!-- internet thinking -->
        <h4 id="ithink">1.1.1 Internet of Thinking</h4>
        <h5>1.1.1.1 Concepts</h5>
        <h6>(1) Internet core</h6>
        <div class="ml-3">
            <p>Information electronization</p>
            <p>storage</p>
            <p>transmission</p>
        </div>
        <h6>(2) Build system</h6>
        <div class="ml-3">
            <p>Roles
            <p>relationships</p>
            <p>locations</p>
            <p>rules</p>
        </div>
        <h5>1.1.1.2 Thinking</h5>
        <div class="ml-3">
            <p>User Thinking</p>
            <p>Simple Thinking</p>
            <p>Extreme Thinking</p>
            <p>Iterative Thinking</p>
            <p>Internet Traffic Thinking</p>
            <p>Socialization Thinking</p>
            <p>Big Data Thinking</p>
            <p>Platform Thinking</p>
            <p>Cross-border Thinking</p>
        </div>
        <!-- internet development -->
        <h4 id="idevelop">1.1.2 Internet Development</h4>
        <h5>1.1.2.1 Development</h5>
        <div class="ml-3">
            <p>Mobile Internet</p>
            <p>O2O rapid development</p>
            <p>Users actively obtain information</p>
            <p>Subversion of traditional industries</p>
            <p>Vertical, user-friendly, user-centric</p>
        </div>
        <h5>1.1.2.2 Category</h5>
        <div class="ml-3">
            <p>Tools</p>
            <p>Entertain</p>
            <p>Reading</p>
            <p>Social Contact</p>
            <p>Other</p>
        </div>
        <!-- business -->
        <h3 id="bmodel">1.2 Business Model</h3>
        <!-- model -->
        <h4 id="model">1.2.1 Model</h4>
        <div class="ml-3">
            <p>Advertising</p>
            <p>Search Advertising</p>
            <p>Online and Offline Commissions</p>
            <p>Virtual goods</p>
            <p>data information marketing</p>
            <p>Open API</p>
        </div>
        <!-- business model canvas -->
        <h4 id="canvas">1.2.2 Canvas</h4>
        <div class="ml-3">
            <p>User segmentation</p>
            <p>value proposition</p>
            <p>channel channel</p>
            <p>user relationship</p>
            <p>revenue source</p>
            <p>core resources</p>
            <p>critical business</p>
            <p>important cooperation</p>
            <p>cost structure</p>
        </div>
        <!-- Commercialize vs UX -->
        <h4 id="cux">1.2.3 Commercialize vs UX</h4>
        <h5>1.2.3.1 Principle of product commercialization</h5>
        <div class="ml-3">
            <p>Commercialization as the fundamental goal</p>
            <p>Different commercialization means in different stages (free / advertising / cooperation / push)</p>
            <p>Commercial user experience does not conflict</p>
            <p>User experience is also a means of commercialization</p>
            <p>Conflict due to the lack of thinking about user target user scenarios</p>
        </div>
        <h5>1.2.3.2 balance</h5>
        <div class="ml-3">
            <p>Premise of commercialization (sufficient understanding of target users / clear judgment on profit
                model)</p>
            <p>Recommended under usage scenario usage path</p>
            <p>Accurate recommendation</p>
            <p>High quality advertising content</p>
            <p>Combination with function</p>
            <p>Can be closed or cancelled</p>
            <p>Does not affect normal function</p>
            <p>Agile small scale testing</p>
        </div>
        <br>
        <!-- documents-->
        <h2 id="docs">2. Documents</h2>
        <hr>
        <!-- analysis doc-->
        <h3 id="adocs">2.1 Analysis Documents</h3>
        <!-- competitive analysis -->
        <h4 id="canalysis">2.1.1 Competitive Analysis</h4>
        <h5 id="caconcept">Concepts</h5>
        <h5 id="bmp">BRD/MRD/PRD</h5>
        <h5 id="fchart">Flow Chart</h5>
        <h4 id="danalysis">2.1.2 Data Analysis</h4>
        <h5 id="daconcept">Concepts</h5>
        <h5 id="pindex">Product Index</h5>
        <!-- requirement mgt doc -->
        <h3 id="rmdocs">2.2 Requirement Mgt Documents</h3>
        <h4 id="creq">Customer Requirements</h4>
        <h4 id="preq">Product Requirements</h4>
        <br>
        <!-- product -->
        <h2 id="prod">3. Product</h2>
        <hr>
        <!-- positioning -->
        <h3 id="pos">3.1 Positioning</h3>
        <!-- design -->
        <h3 id="desi">3.2 Design</h3>
        <!-- experience -->
        <h3 id="exp">3.3 Experience</h3>
        <h4 id="cexp">Customer Experience</h4>
        <h4 id="pexp">Product Experience</h4>
        <!-- lifecycle -->
        <h3 id="dis">3.4 Disassembly</h3>
        <h4 id="mdis">Multiple dismantling</h4>
        <h4 id="ptiming">Product Timing</h4>
        <br>
        <!-- user -->
        <h2 id="ur">4. User</h2>
        <hr>
        <!-- user -->
        <h3 id="user">4.1 User</h3>
        <!-- consumption -->
        <h4 id="uconsumption">4.1.1 User Consumption</h4>
        <h5>4.1.1.1 Consumer Purchase Decision Model (S-O-R)</h5>
        <h6>(1) Stimulus</h6>
        <div class="ml-3">
            <p>The product itself</p>
            <p>Merchant marketing team stimulation</p>
            <p>Changes in consumer personal conditions</p>
            <p>Sociocultural atmosphere</p>
            <p>Changes in the natural environment</p>
        </div>
        <h6>(2) Mental activity</h6>
        <div class="ml-3">
            <p>Stimulate demand</p>
            <p>Learn to collect relevant information</p>
            <p>Comprehensive evaluation and comparison</p>
            <p>Decided to buy</p>
        </div>
        <h5>4.1.1.2 Product design method to reduce psychological hesitation</h5>
        <h6>(1) Create scarce tension</h6>
        <h6>(2) Limited time + limited (tension)</h6>
        <h6>(3) Use psychological accounts to reduce reluctance</h6>
        <h6>(4) Use bundling techniques</h6>
        <div class="ml-3">
            <p>Coupon discount</p>
            <p>Full reduction</p>
            <p>A few full discounts</p>
            <p>Match purchase offer</p>
            <p>Multi-product packaging and sales</p>
        </div>
        <h6>(5) Pricing tips</h6>
        <div class="ml-3">
            <p>Discount split rendering</p>
            <p>One-for-one integration</p>
            <p>Discount percentage large display percentage</p>
            <p>Discount price big display price</p>
            <p>Most discount prices are displayed</p>
        </div>
        <!-- scenario -->
        <h4 id="uscenario">4.1.2 User Scenario</h4>
        <h5>4.1.2.1 Deconstruction</h5>
        <div class="ml-3">
            <p>When / where / what / who / platform / emotion / network</p>
            <p>Emerging desire, satisfying desire through means</p>
        </div>
        <h5>4.1.2.2 effect</h5>
        <div class="ml-3">
            <p>Necessity of judging needs</p>
            <p>Understand product requirements</p>
            <p>Consider how users use the product</p>
            <p>Strong scene / weak scene</p>
            <p>Strong demand / weak demand</p>
        </div>
        <h5>4.1.2.3 Guide product design</h5>
        <div class="ml-3">
            <p>Clear user goals</p>
            <p>Observe user operation behavior</p>
            <p>Insight into user psychology</p>
        </div>
        <!-- portrait -->
        <h4 id="uportrait">4.1.3 User Portrait</h4>
        <h5>4.1.3.1 concept</h5>
        <div class="ml-3">
            <p>The outline of the true characteristics of the product / service target group</p>
            <p>Virtual representatives of actual users product market / main target group)</p>
        </div>
        <h5>4.1.3.2 effect</h5>
        <div class="ml-3">
            <p>Focus on users</p>
            <p>Avoid blindness (not sloppy on behalf of users)</p>
            <p>Improve efficiency (based on consistent user discussions-> speed up decision-making)</p>
        </div>
        <h5>4.1.3.3 How to build</h5>
        <h6>(1) Research user information acquisition analysis</h6>
        <div class="ml-3">
            <p>(1.1)Qualitative (understand analysis + fast and low cost)</p>
            <p>Interview-> Subdivision-> Portrait</p>
            <p>Time-saving and labor-saving simple + few professionals</p>
            <p>Missing data supports verification</p>
            <p>(1.2)Quantitative + qualitative</p>
            <p>Interview + subdivision + quantitative verification + portrait</p>
            <p>Quantitative verification + a small number of professionals</p>
            <p>Large workload + high cost</p>
            <p>(1.3)Quantitative (verification + slow high cost)</p>
            <p>Qualitative-> Subdivision Hypothesis-> Quantitative Collection-> Clustering-> Portrait</p>
            <p>Fully corroborated + a large number of professionals</p>
            <p>Large workload + high cost</p>
        </div>
        <h6>(2) Rich user portrait</h6>
        <div class="ml-3">
            <p>(2.1)Dull basic data-> detailed analysis-> give more elements to make the three-dimensional plump</p>
            <p>(2.2)fundamental element</p>
            <p>Name / photo / personal information / economic status / work information / Internet background</p>
            <p>(2.3)Rich elements</p>
            <p>residence / work place / company / hobby / family life / friendship / character / personal quotes</p>
        </div>
        <h5>4.1.3.4 Graininess</h5>
        <div class="ml-3">
            <p>Too small-no precise investment</p>
            <p>Too large-restrict the target users (too complicated to affect research cost / service target too
                single)</p>
        </div>
        <br>
        <!-- other -->
        <h2 id="other">5. Others</h2>
        <hr>
        <!-- pm -->
        <h3 id="pmanager">5.1 Product Manager</h3>
        <h4 id="skl">5.1.1 Skills</h4>
        <h5>5.1.1.1 Related concepts</h5>
        <h6>(1) Responsibilities</h6>
        <div class="ml-3">
            <p>Manager of product development and operation management</p>
            <p>Preliminary market research</p>
            <p>Product Idea</p>
            <p>Planning and implementation</p>
            <p>Product development</p>
            <p>Product rise</p>
            <p>Marketing</p>
            <p>Until the end of the product life cycle</p>
        </div>
        <h6>(2) task</h6>
        <div class="ml-3">
            <p>Market research on mobile phone user needs</p>
            <p>Determine product functions and formulate product plans</p>
            <p>Responsible for guiding product operations and presiding over version updates</p>
        </div>
        <h6>(3) ability</h6>
        <div class="ml-3">
            <p>Complete knowledge structure, with knowledge of R & D market, sales and other knowledge background</p>
            <p>Ability to learn and have a passion for the products you are responsible for</p>
            <p>Impress customers, understand demand and promote improvement</p>
            <p>Macro ideas, industry insights</p>
            <p>Ability to cooperate with others, taking into account the overall situation</p>
            <p>Good at summarizing and thinking, plan to pay attention to methods</p>
            <p>Responsible, serious and responsible, full of passion and creativity</p>
        </div>
        <h5>5.1.1.2 Compare with project manager</h5>
        <h6>(1) Product manager</h6>
        <div class="ml-3">
            <p>By thinking-design</p>
            <p>Product type (long-term / lifetime / universal)</p>
            <p>Horizontal management (coordinated development, testing, design)</p>
            <p>Judgment / Creativity</p>
            <p>Do the right thing</p>
            <p>Realize it</p>
            <p>Internal drive</p>
            <p>Product life cycle / iteration model / business model (profitability)</p>
        </div>
        <h6>(2) project manager</h6>
        <div class="ml-3">
            <p>Do-execute</p>
            <p>Project type (short-term / stage / customized)</p>
            <p>Vertical management</p>
            <p>Execution / control</p>
            <p>Do the right thing</p>
            <p>Finish it</p>
            <p>External drive</p>
            <p>Cost control (time / labor / funding) / project quality</p>
        </div>
        <h5>5.1.1.3 Agile development</h5>

        <h4 id="interv">5.1.2 Interview</h4>
        <h5>Questions</h5>
        <div class="ml-3">
            <p>Self-introduction (communication / description / logic skills)</p>
            <p>Past work experience</p>
            <p>Reasons for switching</p>
            <p>career planning</p>
            <p>How to discover needs</p>
            <p>What is a successful product</p>
            <p>How to solve communication problems</p>
            <p>Data problem</p>
            <p>Character shortcomings</p>
            <p>Competitive product analysis</p>
            <p>What is a product manager</p>
            <p>future development</p>
            <p>How many bicycles are there in a city and how to predict</p>
            <p>What is the most successful thing to do</p>
            <p>Understand and understand this position</p>
        </div>
        <h4 id="strategy">5.1.3 Strategies</h4>
        <h5>5.1.3.1 Dimensionality reduction attack</h5>
        <h6>(1) The PC era: destroy opponents against threats (clients devour web users)</h6>
        <h6>(2) Mobile era: cooperative symbiosis</h6>
        <h6>(3) rule</h6>
        <div class="ml-3">
        <p>AB products have highly coincident users</p>
        <p>A can achieve B's things, B cannot realize A's main business, and A does well</p>
        <p>A by-pass to devour all / part of the market share of B</p>
        </div>
        <h5>5.1.3.2 High frequency play low frequency (use frequency)</h5>
        <h5>5.1.3.3 Just need to fight non-just need</h5>

        <!-- operation -->
        <h3 id="poperation">5.2 Product Operation</h3>
        <h4 id="concept">Concepts</h4>
        <h4 id="pto">Product thinking operation</h4>
        <!-- examples-->
        <h3 id="example">5.3 Examples</h3>
    </div>
</div>
