{% extends "header.html" %}
{% load static %}
{% block title %}Product Manager{% endblock %}

{% block content %}
<main class="container col-md-10 ml-sm-auto col-lg-10 px-4">
    <div class="row" style="margin-top:2%;">
        <div class="col-md-9">
            {% include 'pm.html' %}
        </div>
        <div class="col-3 d-none d-md-block steelblue" style="border-left:1px solid black">
                <!-- thinking-->
            <p class="m-0"><b><a href="#thinking">Thinking</a></b></p><hr class="m-0">
                <details>
                    <summary><a href="#iera">Internet Era</a></summary>
                    <p class="sp-1"><a href="#ithink">Internet of Thinking</a></p>
                    <p class="sp-1"><a href="#idevelop">Internet Development</a></p>
                </details>
                <details>
                    <summary><a href="#bmodel">Business Model</a></summary>
                    <p class="sp-1"><a href="#model">Model</a></p>
                    <p class="sp-1"><a href="#canvas">Canvas</a></p>
                    <p class="sp-1"><a href="#cux">Commercialize vs UX</a></p>
                </details>

                <!-- documents -->
            <p class="m-0"><b><a href="#docs">Document</a></b></p><hr class="m-0">
            <details><summary><a href="#adocs">Analysis Document</a></summary>
                <p class="sp-1"><a href="#canalysis">Competitive Analysis</a></p>
                    <p class="sp-2"><a href="#caconcept">Concepts</a></p>
                    <p class="sp-2"><a href="#bmp">BRD/MRD/PRD</a></p>
                    <p class="sp-2"><a href="#fchart">Flow Chart</a></p>
                    <p class="sp-1"><a href="#danalysis">Data Analysis</a></p>
                    <p class="sp-2"><a href="#daconcept">Concepts</a></p>
                    <p class="sp-2"><a href="#pindex">Product Index</a></p>
                </details>
            <details><summary><a href="#rmdocs">Requirement Mgt Document</a></summary>
                <p class="sp-1"><a href="#creq">Customer Requirements</a></p>
                    <p class="sp-1"><a href="#preq">Product Requirements</a></p>
                </details>

                <!-- product-->
                <p class="m-0"><b><a href="#prod">Product</a></b></p><hr class="m-0">
                <details><summary><a href="#pos">Positioning</a></summary></details>
                <details><summary><a href="#desi">Design</a></summary></details>
            <details><summary><a href="#exp">Experience</a></summary>
                    <p class="sp-1"><a href="#cexp">Customer Experience</a></p>
                    <p class="sp-1"><a href="#pexp">Product Experience</a></p>
                </details>
                <details>
                    <summary><a href="#dis">Disassembly</a></summary>
                    <p class="sp-1"><a href="#mdis">Multiple dismantling</a></p>
                    <p class="sp-1"><a href="#ptiming">Product Timing</a></p>
                </details>

                <!-- customer-->
            <p class="m-0"><b><a href="#ur">User</a></b></p><hr class="m-0">
            <details><summary><a href="#user">User</a></summary>
                <p class="sp-1"><a href="#uconsumption">User Consumption</a></p>
                <p class="sp-1"><a href="#uscenario">User Scenario</a></p>
                <p class="sp-1"><a href="#uportrait">User Portrait</a></p>
                </details>

                <!-- other-->
                <p class="m-0"><b><a href="#other">Others</a></b></p><hr class="m-0">
            <details><summary><a href="#pmanager">Product Manager</a></summary>
                <p class="sp-1"><a href="#skl">Skills</a></p>
                    <p class="sp-1"><a href="#interv">Interview</a></p>
                    <p class="sp-1"><a href="#strategy">Strategies</a></p>
                </details>
                <details>
                    <summary><a href="#poperation">Product Operation</a></summary>
                    <p class="sp-1"><a href="#concept">Concepts</a></p>
                    <p class="sp-1"><a href="#pto">Product thinking operation</a></p>
                </details>
                <details><summary><a href="#example">Examples</a></summary></details>

        </div>
        <div id="footer">
                <p>Ervin Zhang |
                    <a style="color:steelblue" target="_blank" href="mailto:zhang.yizhe@husky.neu.edu?subject=Please%20type%20in%20the%20subject">
                        zhang.yizhe@husky.neu.edu
                    </a>
                </p>
            </div>
    </div>
</main>
{% endblock %}