.center{
    line-height: 16px;
    text-align: center;
    color:white;
    word-break:break-word;
}

#nav001{
    border-top:beige 1.2px outset;
}

#nav_a001{
    width: 15%;
    text-align: center;
}

.color_white{
    color:white!important;
}

.bgc_blue{
    background-color:rgba(20,32,68,0.9)!important;
}
.bgc_white{
    background-color:white!important;
}

.clear_margin{
    margin: 0px 0px;
    border:1px;
}

.text_left{
    margin-left: 5%;
    text-align: left;
    display: block;
}

#main001{
    background:beige;
}

#main002{
    background:rgba(19,21,34,0.95);
    color:gold;
    border-top:1.5px solid beige;
    border-left:1.5px solid beige;
}

.line-short{
    line-height:140%;
    margin-top:1%;
}

.bgc_dark{
    background-color:rgba(20,32,68,0.2)!important;
    color:black!important;
}

.bgc_black{
    background-color:rgba(0,0,0,0.5)!important;
    color:white!important;
}

.margin_bottom{
    margin-bottom:20px!important;
}

.menu_ul{
    font-size:20px;
    border-left:1.5px outset grey;
}

.menu_li{
    font-size:18px;
    line-height:300%;
    text-indent:10%;
    list-style:square inside;
}

.menu_li a{
    color:steelblue!important;
}

#footer{
    border-top:1.5px solid black;
    text-align:center;
    width:100%;
    margin-top:5%;
}

#div001 a{
    color:steelblue;
}

p{
    text-indent:3%;
}

.pi{
    color:rgba(0,0,0,0.4);
    margin-top:0px;
    margin-bottom:5px;
    font-size:15px;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: grey!important;
}

@media (max-width: 500px) {
  embed {
    width:90%!important;
  }
  table{
    width:90%;
  }
}

.pfas_embed{
    width:70%;
}

.scroll-auto, .scroll-auto2{
    overflow:auto;
}

.scroll-auto::-webkit-scrollbar {
    width: 0%;
}

.scroll-auto2::-webkit-scrollbar {
    width: 0%;
}

.scroll-auto::-webkit-scrollbar-thumb, .scroll-auto2::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: rgba(20,32,68,0.9)
}
.scroll-auto::-webkit-scrollbar-track, .scroll-auto2::-webkit-scrollbar-track {
    border-radius: 25px;
    background: beige;
}

.color_blue{
    color:steelblue;
}

.display_cir_ins{
    display:list-item;
    list-style:circle inside;
}